<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .caixas {
            display: flex;
            justify-content: space-around;
        }

        .demo {
            width: 100px;
            height: 100px;
            background-color: gray;
        }

        .c1 {
            background-color: red;
        }
        .c2 {
            background-color: green;
        }
        .c3 {
            background-color: blue;
        }

        .girar {
            transform: rotate(45deg);
        }
    </style>
    <!--Como usar o Vue para aplicar classe diretamente dentre das divs-->
    <div id="app">
        <div class="caixas">
            <div class="demo" :style="{backgroundColor: cor}"></div>
            <div class="demo" :style="meuEstilo"></div>
            <div class="demo"></div>
        </div>
        <input type="text" v-model="cor">
        <input type="text" v-model="largura">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                cor: 'red',
                largura: 250
            },
            computed: {
               meuEstilo(){
                    return {
                        backgroundColor: this.cor,
                        width: `${this.largura}px`
                    }
               }
            }
        });
    </script>
    
</body>
</html>